<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<link
			rel="stylesheet"
			href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
			integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
			crossorigin="anonymous"
		/>
		<link
			href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
			rel="stylesheet"
			integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
			crossorigin="anonymous"
		/>
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
		/>
		<link
			href="https://fonts.googleapis.com/css?family=Literata&display=swap"
			rel="stylesheet"
		/>
		<link
			href="https://fonts.googleapis.com/css?family=Raleway&display=swap"
			rel="stylesheet"
		/>
		<link
			href="https://fonts.googleapis.com/css?family=Libre+Baskerville&display=swap"
			rel="stylesheet"
		/>
		<link rel="stylesheet" href="/css/adminPage.css" />
		<script
			src="https://code.jquery.com/jquery-3.4.1.min.js"
			integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
			crossorigin="anonymous"
		></script>
		<script src="/js/adminPage.js"></script>
		<script src="/js/adminDate.js"></script>
		<title>AdminPage</title>
	</head>
	<body>
		<nav class="navbar navbar-expand-lg">
			<a class="navbar-brand ml-2">LANCE EVENTS</a>
			<input
				class="form-control mr-sm-2"
				type="search"
				placeholder="Search"
				aria-label="Search"
			/>
		</nav>

		<div
			class="modal fade"
			id="Modal"
			tabindex="-1"
			role="dialog"
			aria-labelledby="ModalLabel"
			aria-hidden="true"
		>
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="ModalLabel">Add a Venue</h5>
						<button
							type="button"
							class="close"
							data-dismiss="modal"
							aria-label="Close"
						>
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<form>
							<div class="form-group">
								<label for="venue-name" class="col-form-label"
									>Venue Name:</label
								>
								<input type="text" class="form-control" id="venue-name" />
							</div>
							<div class="form-group">
								<label for="capacity" class="col-form-label">Capacity:</label>
								<input type="text" id="capacity" />
							</div>
						</form>
					</div>
					<div class="modal-footer">
						<button
							type="button"
							class="btn btn-secondary"
							data-dismiss="modal"
						>
							Close
						</button>
						<button type="button" class="btn btn-primary">Add venue</button>
					</div>
				</div>
			</div>
		</div>
		<section class="main">
			<header class="side-bar">
				<nav>
					<ul class="admin-menu">
						<li class="menu-heading">
							<img src="" />
							<span class="text-uppercase">Admin</span>
						</li>
						<li>
							<a href="#0" id="dashboard">
								<i class="fa fa-tachometer"></i>
								<span>Dashboard</span>
							</a>
						</li>
						<li>
							<a href="#0" id="enquiries">
								<i class="fa fa-question-circle"></i>
								<span>Enquiries</span>
							</a>
						</li>
						<li>
							<a href="#0" id="venues">
								<i class="fa fa-home"></i>
								<span>Venues</span>
							</a>
						</li>
						<li>
							<a href="#0" id="bookings">
								<i class="fa fa-inbox"></i>
								<span>Bookings</span>
							</a>
						</li>

						<li>
							<a href="/auth/logout" class="logout-btn">Logout</a>
						</li>
					</ul>
				</nav>
			</header>

			<section id="info-area">
				<section class="dashboard show">
					<h3 class="text-white f-w">Welcome <%= locals.user.email %>,</h3>
					<h6 class="title text-white pt-3 pb-3">Dashboard</h6>
					<div class="widget-container">
						<article class="widget">
							<p>Add a venue</p>
							<button
								type="button"
								class="btn-lg rounded-circle"
								data-toggle="modal"
								data-target="#Modal"
							>
								+
							</button>
						</article>
						<article class="widget">
							<p>Add discount & Promos</p>
							<button
								type="button"
								class="btn-lg rounded-circle"
								data-toggle="modal"
								data-target="#Modal"
							>
								+
							</button>
						</article>
						<article class="widget"><p>Add a widget</p></article>
					</div>
					<div class="bookings-table">
						<table class="recent-bookings">
							<caption>
								<span>Bookings</span>
								<hr />
							</caption>
							<tr>
								<th>Name</th>
								<th>Email</th>
								<th>Venue</th>
								<th>Date</th>
								<th>Status</th>
							</tr>
							<tr>
								<td>Onasanya Lanre</td>
								<td>Sao.onasanya@gmail.com</td>
								<td>Waldorf Hall</td>
								<td>December 13th 2019</td>
								<td><button class="approved">Approved</button></td>
							</tr>
							<tr>
								<td>Onasanya Lanre</td>
								<td>Sao.onasanya@gmail.com</td>
								<td>Waldorf Hall</td>
								<td>December 13th 2019</td>
								<td><button class="approved">Approved</button></td>
							</tr>
							<tr>
								<td>Onasanya Lanre</td>
								<td>Sao.onasanya@gmail.com</td>
								<td>Waldorf Hall</td>
								<td>December 13th 2019</td>
								<td><button>Pending</button></td>
							</tr>
						</table>
					</div>
					<div class="recents d-flex">
						<div class="recent-enquiries">
							<p class="enq-heading">Recent Enquiries</p>
							<hr />
							<div class="enquiry enq-1">
								<div class="enquiry-img">
									<img src="" />
								</div>
								<div class="enquiry-details">
									<p class="enq-sender">Emamuzo Anita</p>
									<p class="enq">Can I bring caterers to your venue?</p>
									<small class="enq-date">November 31, 2019</small>
								</div>
							</div>
							<hr />
							<div class="enquiry enq-2">
								<div class="enquiry-img">
									<img src="" />
								</div>
								<div class="enquiry-details">
									<p class="enq-sender">Chimdi Nomso</p>
									<p class="enq">Can I book your venue for a church service?</p>
									<small class="enq-date">November 29, 2019</small>
								</div>
							</div>
						</div>
					</div>
				</section>
				<section class="enquiries hidden">
					<div>
						<table class="main-bookings">
							<caption>
								<span>Bookings</span>
								<hr />
							</caption>
							<tr>
								<th>Name</th>
								<th>Email</th>
								<th>Venue</th>
								<th>Date</th>
								<th>Phone</th>
							</tr>
							<tr>
								<td>Onasanya Lanre</td>
								<td>Sao.onasanya@gmail.com</td>
								<td>Waldorf Hall</td>
								<td>December 13th 2019</td>
								<td>09037482123</td>
							</tr>
							<tr>
								<td>Onasanya Lanre</td>
								<td>Sao.onasanya@gmail.com</td>
								<td>Waldorf Hall</td>
								<td>December 13th 2019</td>
								<td>09037482123</td>
							</tr>
							<tr>
								<td>Onasanya Lanre</td>
								<td>Sao.onasanya@gmail.com</td>
								<td>Waldorf Hall</td>
								<td>December 13th 2019</td>
								<td>09037482123</td>
							</tr>
							<tr>
								<td>Onasanya Lanre</td>
								<td>Sao.onasanya@gmail.com</td>
								<td>Waldorf Hall</td>
								<td>December 13th 2019</td>
								<td>09037482123</td>
							</tr>
						</table>
					</div>
				</section>
				<section class="venues hidden">
					<div class="venue">
						<div class="card bg-dark text-white" style="width: 18rem">
							<img
								src="/images/white-fabric-loveseat-with-two-flower-centerpieces-on-the-2306286@2x.png"
								class="card-img-top"
								alt="Waldorf"
							/>
							<div class="card-body">
								<h5 class="card-title">Waldorf Hall</h5>
								<small class="card-text">Capacity: 2000</small>
							</div>
						</div>
					</div>
				</section>
				<section class="bookings hidden">
					<table class="main-bookings">
						<caption>
							<span>Bookings</span>
							<hr />
						</caption>
						<tr>
							<th>Name</th>
							<th>Email</th>
							<th>Venue</th>
							<th>Date</th>
							<th></th>
						</tr>
						<tr>
							<td>Onasanya Lanre</td>
							<td>Sao.onasanya@gmail.com</td>
							<td>Waldorf Hall</td>
							<td>December 13th 2019</td>
							<td class="accept">
								<button class="btn-success">Accept</button>
								<button class="btn-danger">Decline</button>
							</td>
						</tr>
						<tr>
							<td>Onasanya Lanre</td>
							<td>Sao.onasanya@gmail.com</td>
							<td>Waldorf Hall</td>
							<td>December 13th 2019</td>
							<td class="accept">
								<button class="btn-success">Accept</button>
								<button class="btn-danger">Decline</button>
							</td>
						</tr>
						<tr>
							<td>Onasanya Lanre</td>
							<td>Sao.onasanya@gmail.com</td>
							<td>Waldorf Hall</td>
							<td>December 13th 2019</td>
							<td class="accept">
								<button class="btn-success">Accept</button>
								<button class="btn-danger">Decline</button>
							</td>
						</tr>
						<tr>
							<td>Onasanya Lanre</td>
							<td>Sao.onasanya@gmail.com</td>
							<td>Waldorf Hall</td>
							<td>December 13th 2019</td>
							<td class="accept">
								<button class="btn-success">Accept</button>
								<button class="btn-danger">Decline</button>
							</td>
						</tr>
						<tr>
							<td>Onasanya Lanre</td>
							<td>Sao.onasanya@gmail.com</td>
							<td>Waldorf Hall</td>
							<td>December 13th 2019</td>
							<td class="accept">
								<button class="btn-success">Accept</button>
								<button class="btn-danger">Decline</button>
							</td>
						</tr>
						<tr>
							<td>Onasanya Lanre</td>
							<td>Sao.onasanya@gmail.com</td>
							<td>Waldorf Hall</td>
							<td>December 13th 2019</td>
							<td class="accept">
								<button class="btn-success">Accept</button>
								<button class="btn-danger">Decline</button>
							</td>
						</tr>
					</table>
				</section>
			</section>
		</section>

		<script>
			$(document).ready(() => {
				$.ajax({
					url: "enq/recentEnquiries",
					type: "GET",
					success: res => {
						console.log(res);
					},
					error: err => {
						console.error(err);
					}
				});

				$.ajax({
					url: "enq/allEnquiries",
					type: "GET",
					success: res => {
						console.log(res);
					},
					error: err => {
						console.error(err);
					}
				});

				$.ajax({
					url: "book/recentBookings",
					type: "GET",
					success: res => {
						console.log(res);
					},
					error: err => {
						console.error(err);
					}
				});

				$.ajax({
					url: "book/allBookings",
					type: "GET",
					success: res => {
						console.log(res);
					},
					error: err => {
						console.error(err);
					}
				});
			});
		</script>
	</body>
</html>
