<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Contact</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Literata&display=swap" rel="stylesheet">


</head>
<style>
    * {
        box-sizing: border-box;
    }
    
    .navbar-brand {
        color: #FFD25A;
    }
    
    html,
    body {
        /* font-family: 'Literata', serif; */
        width: 100%;
        height: auto;
        margin: 0px;
        padding: 0px;
        overflow-x: hidden;
        background-color: #3A3A3A;
    }
    
    .navbar {
        background: #202020;
        opacity: 1;
        width: 100%;
    }
    
    a {
        color: #FFFFFF;
    }
    
    a:hover {
        color: #FFD25A;
    }
    
    ul {
        margin: 10px 5px;
    }
    
    li {
        padding: 10px 5px;
    }
    
    #admin {
        margin-left: 100px;
    }
    
    a:active {
        color: #FFD25A;
    }
    
    .navbar-toggler {
        background: #FFD25A;
    }
    
    .aion {
        padding: 75px;
        text-align: left;
        background-image: url("./images/contact.jpg");
        background-size: cover;
        color: white;
        font-size: 40px;
        background-position: center center;
        background-position-y: 50%;
        overflow: hidden;
        height: 250px;
        width: 100%;
        /* z-index: 2;
        margin: 0 auto;
        display: block; */
    }
    /* @media only screen and (max-width: 425px) {
        #admin {
            margin-left: 0px;
        }
    } */
    
    footer {
        background-color: #202020;
        color: #C4C4C4;
        bottom: 0;
    }
</style>

<body>
        <header>
      <!-- class="container" -->
      <div style="width: 100%">
        <div class="row">
          <div class="col-md-12">
            <nav class="navbar navbar-expand-lg">
              <span class="navbar-brand ml-5 h1">LANCE EVENTS</span>

              <button
                class="navbar-toggler"
                type="button"
                data-toggle="collapse"
                data-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown"
                aria-expanded="false"
                aria-label="Toggle navigation"
              >
                <span class="navbar-toggler-icon"></span>
                <div></div>
                <div></div>
                <div></div>
              </button>
              <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav ml-auto">
                  <li class="nav-item active">
                    <a class="nav-link" href="/">
                      Home<span class="sr-only">(current)</span>
                    </a>
                  </li>

                  <li class="nav-item dropdown">
                    <a
                      class="nav-link dropdown-toggle"
                      id="navbarDropdownMenuLink"
                      role="button"
                      data-toggle="dropdown"
                      aria-haspopup="true"
                      aria-expanded="false"
                      href="/venue"
                    >
                      Venues
                    </a>
                    <div
                      class="dropdown-menu"
                      aria-labelledby="navbarDropdownMenuLink"
                    >
                      <a class="dropdown-item" href="/venue">Waldorf hall</a>
                      <a class="dropdown-item" href="/venue">Benson Avenue</a>
                      <a class="dropdown-item" href="/venue">Beach view</a>
                    </div>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/aboutUs">About Us</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/contact">Contact Us</a>
                  </li>
                  <% if (user)  {%>
                   <li class="nav-item ">
                    <a class="nav-link" href="/auth/logout" id="login"
                      >Logout, <span id="user"><%= locals.user.email%></span></a
                    >
                  </li>
                   <%} else{%>
                    <li class="nav-item ">
                      <a class="nav-link" href="/auth/login" id="login">Login</a> 
                   </li>            
                    <%}%>
      
                </ul>
              </div>
            </nav>
        </div>
      </div>
    </div>
    </header>
    <div style="width: 100%; margin-bottom: 20px;">
        <div class="row">
            <div class="col-md-12 clearfix aion" style="padding-bottom: 20px; width: auto">
                <!-- <img width="100%" height="400px" src="Contact.jpg "> -->

                <p>
                    <h1>Contact Us</h1>
                
                </p>
            </div>
            <div class="col-md-6 clearfix text-center" style="width:auto; padding-top: 20px  "><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3963.7824540500296!2d3.3747852140180297!3d6.549128895263198!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x103b8d9ef7bf6fc7%3A0xe0226d07d751a9f5!2sFola%20Jinadu%20Cres%2C%20Pedro%2C%20Lagos!5e0!3m2!1sen!2sng!4v1576270631395!5m2!1sen!2sng"
                    width="400" height="300" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
            </div>
            <div class="col-md-6 clearfix " style=" padding-top: 30px">

                <!-- Grid column -->
                <div class="col-md-6 ">
                    <!-- col-lg-3 col-xl-3 mx-auto mt-3  -->
                    <h6 class=" mb-4 font-weight-bold " style=" color:white">Address</h6>
                    <!-- <h6 class="text-uppercase mb-4 font-weight-bold ">Contact us</h6> -->
                    <p style="color:#979797 ">
                        <i class="fa fa-map-marker "></i>&nbsp;<small>Stutern fola jinadu, gbagada lagos</small></p>
                    <h6 class=" mb-4 font-weight-bold " style=" color:white">Email</h6>
                    <p style=" color:#FFD25A">
                        <i class="fa fa-envelope "></i><a href="mailto:contact@lanceevent.com " style=" color:#FFD25A">&nbsp;<small>info@gmail.com</small></a></p>
                    <h6 class=" mb-4 font-weight-bold " style=" color:white">Phone Number</h6>
                    <p style=" color:#FFD25A">
                        <i class="fa fa-phone "></i><a href="tel:234000000000 " style=" color:#FFD25A">&nbsp;<small>+234 000 000 000</small></a></p>



                </div>
            </div>
        </div>
    </div>

    <!-- <contact us form div begins> -->
    <div style="background-color: #828282; padding-top: 20px; color:white ">
        <section>
            <!-- class="mb-4 " -->

            <!--Section heading-->
            <h2 class=" h1-responsive font-weight-bold text-center my-4 ">Make an Enquiry</h2>
            <!--Section description-->
            <p class="text-center w-responsive mx-auto mb-5 ">Get in touch with a member of our team, if you have any question or enquiries</p>

            <div class="row justify-content-center align-items-center">

                <!--Grid column-->
                <div class="col-md-9 mb-md-0 mb-5 ">
                    <form id="enquiryForm" action="/enq/postEnquiry" method="POST" class="mb-2" style="color:#828282; background-color:#3A3A3A; padding:15px">

                        <!--Grid row-->
                        <div class="row ">
                            <!--Grid column-->
                            <div class="col-md-6 ">
                                <div class="md-form mb-0 ">
                                    <p>
                                        <input type="text" id="name" name="firstName" class="form-control clear" placeholder="First Name" style="background-color:#3A3A3A; border:1px solid #828282">
                                    </p>
                                </div>
                            </div>
                            <!--Grid column-->

                            <!--Grid column-->
                            <div class="col-md-6 ">
                                <div class="md-form mb-0 ">
                                    <p>
                                        <input type="text" id="name " name="lastName" class="form-control clear" placeholder="Last Name" style="background-color:#3A3A3A; border:1px solid #828282">
                                    </p>
                                </div>

                            </div>
                            <!--Grid column-->

                        </div>
                        <!--Grid row-->

                        <!--Grid row-->
                        <div class="row ">
                            <div class="col-md-12 ">
                                <% if (user) {%>
                                <div class="md-form mb-0 ">
                                    <p>
                                        <input type="email " id="email " name="email" class="form-control clear" placeholder="Email" style="background-color:#3A3A3A; border:1px solid #828282" disabled>
                                    </p>
                                </div>
                                <%} else {%>
                                <div class="md-form mb-0 ">
                                    <p>
                                        <input type="email " id="email " name="email" class="form-control clear" placeholder="Email" style="background-color:#3A3A3A; border:1px solid #828282" required>
                                    </p>
                                </div>
                                <% } %>
                                <div class="md-form mb-0 ">
                                    <p>
                                        <input type="text " id="subject " name="subject" class="form-control clear" placeholder="Subject" style="background-color:#3A3A3A; border:1px solid #828282">
                                        <!-- <label for="subject " class=" ">Subject</label> -->
                                    </p>
                                </div>
                            </div>
                        </div>
                        <!--Grid row-->

                        <!--Grid row-->
                        <div class="row ">

                            <!--Grid column-->
                            <div class="col-md-12 ">

                                <div class="md-form ">
                                    <p>
                                        <textarea type="text " id="message" name="enquiry" rows="2 " class="form-control clear md-textarea " placeholder="type something here..." style="background-color:#3A3A3A; border:1px solid #828282"></textarea>
                                        <!-- <label for="message ">Your message</label> -->
                                    </p>
                                </div>

                            </div>
                        </div>
                        <div class="row ">
                            <div class="col-md-12 ">
                                <div class="text-center text-md-left center " style="padding: 10px">
                                    <input type="submit" value='Send Enquiry' style="background-color: #FFD25A; color:black">
                                </div>
                                <div id="enquiryResponse"></div>
                            </div>
                        </div>
                        <!--Grid row-->

                    </form>

                </div>
            </div>

        </section>



    </div>

    <!-- <contact us form div ends> -->

    <!-- <contact body close> -->
    <!-- Footer -->
    <footer class="page-footer font-small mdb-color pt-4 ">

        <!-- Footer Links -->
        <div class="container text-center text-md-left ">

            <!-- Footer links -->
            <div class="row text-center text-md-left mt-3 pb-3 ">

                <!-- Grid column -->
                <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3 ">
                    <h6 class=" mb-4 font-weight-bold ">Keep In Touch</h6>
                    <p><small>Get exclusive update straight in your inbox</small>
                        <form class="form-inline ">
                            <input class="form-control mr-sm-2 form-control-sm " type="email " placeholder="email " aria-label="email " style="border-radius: 0; width: 60%; margin-right: 10px;background-color: #3A3A3A; ">
                            <button class="btn my-2 my-sm-0 btn-sm " style="border-radius: 0; font-weight: 700;background-color: #FFD25A; "><i class="fa fa-arrow-right "  style=" width: 40px "></i></button>
                        </form>
                    </p>
                </div>
                <!-- Grid column -->

                <hr class="w-100 clearfix d-md-none ">

                <!-- Grid column -->
                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3 ">
                    <h6 class=" mb-4 font-weight-bold ">Venues</h6>
                    <p>
                        <a href="#! "><small>Waldorf hall</small></a>
                    </p>
                    <p>
                        <a href="#! "><small>Benson Avenue</small></a>
                    </p>
                    <p>
                        <a href="#! "><small>Beach view</small></a>
                    </p>

                </div>
                <!-- Grid column -->

                <hr class="w-100 clearfix d-md-none ">

                <!-- Grid column -->
                <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3 ">
                    <h6 class=" mb-4 font-weight-bold ">About</h6>
                    <p>
                        <a href="#! "><small>Get to know (FAQ)</small></a>
                    </p>
                    <p>
                        <a href="team.html"><small> Meet the team</small></a>
                    </p>

                </div>

                <!-- Grid column -->
                <hr class="w-100 clearfix d-md-none ">

                <!-- Grid column -->
                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3 ">
                    <h6 class=" mb-4 font-weight-bold ">Contact us</h6>
                    <!-- <h6 class="text-uppercase mb-4 font-weight-bold ">Contact us</h6> -->
                    <p style="color:#979797 ">
                        <i class="fa fa-phone "></i> &nbsp;<a href="tel:234000000000 "><small>+234 000 000 000</small></a></p>
                    <p style="color:#979797 ">
                        <i class="fa fa-envelope "></i>&nbsp;<a href="mailto:contact@lanceevent.com "><small>info@gmail.com</small></a></p>
                    <p style="color:#979797 ">
                        <i class="fa fa-map-marker "></i>&nbsp;<small>Stutern fola jinadu, gbagada lagos</small></p>

                </div>
                <!-- Grid column -->

            </div>
            <!-- Footer links -->

            <hr>

            <!-- Grid row -->
            <div class="row d-flex align-items-center " style="border-top: 1px solid #707070; padding-top: 15px ">

                <!-- Grid column -->
                <div class="col-md-7 col-lg-8 ">

                    <!--Copyright-->
                    <p class="text-center text-md-left ">
                        <small>© Lance Event Ltd. All rights reserved</small>
                    </p>

                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-5 col-lg-4 ml-lg-0 align-items-center ">

                    <!-- Social buttons -->
                    <div class="text-center text-md-left ">
                        <ul class="list-unstyled list-inline ">
                            <li class="list-inline-item ">
                                <a class="btn-floating btn-sm rgba-white-slight mx-1 ">
                                    <!-- <i class="fab fa-facebook-f "></i> -->
                                    <i class="fa fa-facebook-square " style="font-size:24px;color:#646464 "></i>
                                    <!-- <i class="fab fa-facebook " ></i> -->
                                </a>
                            </li>
                            <li class="list-inline-item ">
                                <a class="btn-floating btn-sm rgba-white-slight mx-1 ">
                                    <i class="fa fa-linkedin-square " style="font-size:24px;color:#646464 "></i>
                                </a>
                            </li>
                            <li class="list-inline-item ">
                                <a class="btn-floating btn-sm rgba-white-slight mx-1 ">
                                    <!-- <i class="fab fa-google-plus-g "></i> -->
                                    <i class="fa fa fa-google-plus-square " style="font-size:24px;color:#646464 "></i>
                                </a>
                            </li>
                            <li class="list-inline-item ">
                                <a class="btn-floating btn-sm rgba-white-slight mx-1 ">
                                    <i class="fa fa-twitter-square " style="font-size:24px;color:#646464 "></i>
                                    <!-- fab fa-linkedin-in -->

                                </a>
                            </li>
                            <!-- <li class="list-inline-item ">
                                <a class="btn-floating btn-sm rgba-white-slight mx-1 ">
                                    <i class="fa fa fa-youtube-play " style="font-size:24px;color:#646464 "></i>


                                </a>
                            </li> -->
                        </ul>
                    </div>

                </div>
                <!-- Grid column -->

            </div>
            <!-- Grid row -->

        </div>
        <!-- Footer Links -->

    </footer>
    <!-- Footer -->
    </div>
    <script src="https://code.jquery.com/jquery-3.4.1.js " integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin=" anonymous "></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js " integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM " crossorigin="anonymous "></script>
    <script src="/js/enquiryFormHandler.js"></script>
    <script>
            $(function() {
                $("#enquiryForm").on("submit", function(e) {
                    e.preventDefault();
                    $.ajax({
                        url: $(this).attr("action"),
                        type: 'POST',
                        data: $(this).serialize(),
                        beforeSend: function() {
                            $("#enquiryResponse").html("sending...");
                        },
                        success: function(data) {
                            $('.clear, textarea').val('');
                            $("#enquiryResponse").text(data.enquiryResponse);

                            setTimeout(()=>{
                                $("#enquiryResponse").text('');
                            },3000)

                        }
                    });
                });

            });
        </script>

</body>

</html>
